/* Animation */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-300%);
  }
}

@keyframes fadein{
  from{
    opacity: 0;
  }
  to{
    opaciity: 1;
  }
}

@keyframes fadeOut{
  from{
    opacity: 1;
  }
  to{
    opaciity: 0;
  }
}

#warning-container {
  animation: fadein 0.5s ease-in-out 0s 1 normal forwards;
}

.closeAnimation {
  animation: fadeout 0.5s ease-in-out 0s 1 normal forwards;
}

/* warning */
#warn-back{
  z-index: 999;
}
#warning-container{
    width: 850px;
    height: 480px;
    background-color: white;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    justify-content: center;
    border: #C9C9C9 1px solid;
    z-index: 1;
  
  }
  #warning-content{
    width: 300px;
    height: 335px;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 66px;
    left: 285px;
    font-size: 20px;
  }
  
  #warning-content>button{
    width: 280px;
    height: 65px;
    background-color: #4A67FF;
    border: none;
    color: white;
    font-size: 20px;
  }
  
  #warning-content>h2{
    font-size: 32px;
    margin: 13px 0 6px 0;
    color: #333;
  
  }
  
  #warning-content>p{
    margin-bottom: 25px;
    color: #a3a3a3;
  }
  
  #mini-line{
    width: 254px;
    height: 2px;
    margin: 0;
    background-color: #d9d9d9;
  }
  
  
  